@page "/dashboard"
@using ManageFlow.Data.Models
@using ManageFlow.Services
@using Microsoft.AspNetCore.Authorization
@inject ITaskManagerService TaskService
@inject IEmployeeService EmployeeService
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <p class="text-start fs-4 fw-bold mt-4">Welcome, @context.User.Identity?.Name! </p>
        <div class="row mb-4 mt-5 justify-content-center"> 
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card card-sleek card-sleek-purple text-black h-50 w-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <p class="card-text fs-6 card-title">New Tasks This Week</p>
                        <p class="card-text fw-bold fs-1 card-number">@latestTasks</p> 
                        <p class="card-text fs-6 card-increase position-absolute bottom-0 mb-2">+ @taskIncrease% since last week</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card card-sleek card-sleek-purple text-black h-50 w-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <p class="card-text fs-6 card-title">Completed Tasks</p>
                        <p class="card-text fw-bold fs-1 card-number">@completedTasks</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card card-sleek card-sleek-purple text-black h-50 w-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <p class="card-text fs-6 card-title">Employees</p>
                        <p class="card-text fw-bold fs-1 card-number">@employees</p>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="text-center">
            <h1 class="display-4">Access Denied</h1>
            <p>You do not have permission to view this page.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>

<style>
    .card-sleek {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        aspect-ratio: 1;
        width: 100%;
        border-radius: 20px;
        transition: transform 0.3s ease-in-out;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
        font-family: 'Inter', sans-serif;
        overflow: hidden;
    }
    .card-sleek-purple {
        background: linear-gradient(150deg, rgba(255, 255, 255, 0), rgba(187, 207, 230, 0.432)); 
    }
    
    .card-title {
        font-size: 1.1rem;
    }

    .card-number {
        font-size: 2rem;
    }

    .card-increase {
        font-size: 1rem;
    }

    @@media (max-width: 768px) {
        .card-title {
            font-size: 1rem;
        }
        .card-number {
            font-size: 1.5rem; 
        }
        .card-increase {
            font-size: 0.9rem; 
        }
    }

    @@media (max-width: 576px) {
        .card-title {
            font-size: 0.9rem; 
        }
        .card-number {
            font-size: 1.2rem; 
        }
        .card-increase {
            font-size: 0.8rem; 
        }
    }
</style>

@code {
    private string errorMessage;
    int tasks, latestTasks, completedTasks, previousTasks;
    int employees;
    int taskIncrease;
    Dictionary<string, int> employeesByDepartment = new Dictionary<string, int>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tasks = (await TaskService.GetTasksAsync()).Count;
            latestTasks = (await TaskService.GetLatestTasksAsync()).Count;
            completedTasks = (await TaskService.GetCompletedTasksAsync()).Count;
            previousTasks = (await TaskService.GetPreviousWeekTasksAsync()).Count;
            employees = (await EmployeeService.GetEmployeesAsync()).Count;
            employeesByDepartment = await EmployeeService.GetEmployeeRolesCountAsync();

            if (previousTasks == 0)
            {
                taskIncrease = 100;
            }
            else 
            {
                taskIncrease = ((latestTasks - previousTasks) / previousTasks) * 100;
            }
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
            Console.WriteLine($"Error loading dashboard data: {e.Message}");
        }
    }
}
